@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
:root {
	--fontPrimary: 'Poppins', sans-serif;
	--fontSecondary: 'Poppins', sans-serif;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: var(--fontPrimary);
	background-color: #f2f2f2;
	font-size: 1.6rem;
	line-height: 1.5;
}
button {
	background-color: #857599;
	font-family: var(--fontPrimary);
	border-radius: 20px;
	border-color: #EFB3BF;
	font-size: 17px;
	color: white;
	font-weight: 800;
	padding: 10px, 10px, 10px, 10px;
}

/* Global */

.container {
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

h1,
h2,
h3 {
	font-weight: 700;
	font-family: var(--fontSecondary);
}

h1 {
	font-size: 5.5rem;
	align-content: center;
	align-items: center;
	font-weight: 900;
	color: white;
}

h2 {
	font: 3.4rem;
}

h3 {
	font-size: 3.5rem;
	text-align: center;
	padding: 00px 0px 0px 80px;
}

img {
	max-width: 100%;
	display: block;
}
/* Utilities */

.text-center {
	text-align: center;
	margin-left: 140px;
}

.header {
	background-color: #B48DB9;
	z-index: 999;
	width: 100%;
	height: 150px;
	color: var(--white);
}

.container_header {
	width: 90%;
	margin: auto;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.container_body {
	width: 100%;
	align-items: center;
	align-content: center;
}
.container_carrito {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: auto;
	gap: 4em;
	margin-left: 80px;
	padding: 0px 20px 0px 0px;
}

.cart {
	background-color: white;
	display: flex;
	padding: 0.5rem 5rem;
	grid-template-columns: repeat(4, 1fr);
	border-radius: 2rem;
	color: black;
}

.list_products {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: auto;
	margin-left: 120px;
	padding: 0px 20px 0px 0px;
}

.cart-section {
	display: grid;
	margin: 10px 50px 40px 30px;
	padding: 20px 20px 20px 120px;
	width: 90%;
	align-items: center;
	align-content: center;
}

/* Summary */
.container_summary {
	background-color: #B0C7D9;
	color: white;
	display: grid;
	grid-template-columns: 80%;
	width: 50%;
	gap: 2rem;
	align-items: center;
	align-content: center;
	border-radius: 20px;
}
input {
	align-content: center;
	margin-left: 100px;
	width: 70%;
	font-size: 18px;
	font-family: var(--fontSecondary);
}
.sumary-letter {
	font-size: 20px;
}

.cart-quantity {
	background-color: #DACDBA;
	width: 35px;
	border-radius: 10px;
	align-content: center;
	padding: 20px, 20px;
}
.products-section{
	background-color: #f2f2f2;
}
.summary-section{
	background-color: #f2f2f2;
	margin-top: 4em;
}
.cart-section{
	background-color: #f2f2f2;
}